# Suggested by bundler
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version

## PROJECT::SPECIFIC
bin/
test/bin/
railsapps/
test/*.gemfile.lock
,*

# See: https://gist.github.com/ianheggie/9327010
# for Global git ignore for OS/IDE/temp/backup files
