# Suggested by bundler
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*~

## PROJECT::SPECIFIC
bin/
railsapps/
,*

# Local ruby version config
.rbenv-version
.ruby-version
.rvmrc
